<?xml version = "1.0" encoding = "UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets" 
   xmlns:gap = "https://kvinbabbar.com/ns/1.0" id = "com.kvinbabbar.onlineviewer" version = "1.0">
   
   <name>Feed Snake</name>
   
   <description>
      It's a simple snake game
   </description>
   
   <author href = "https://kvinbabbar.com" email = "mrkuldeepkr@gmail.com">
      Kuldeep
   </author>
   
   <preference name = "permissions" value = "none"/>
   <preference name="orientation" value="portrait" />
   
   <icon src = "res/icon/android/mipmap-ldpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
		
   <icon src = "res/icon/android/mipmap-mdpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "mdpi" />
		
   <icon src = "res/icon/android/mipmap-hdpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "hdpi" />
		
   <icon src = "res/icon/android/mipmap-xhdpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "xhdpi" />
		
   <icon src = "res/icon/android/mipmap-xxhdpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "xxhdpi" />
   
   <icon src = "res/icon/ios/iTunesArtwork@1x.png" gap:platform = "ios" gap:qualifier = ""/>
   
</widget>